.coml-heading-contaiener {
    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
    font-size: small;
    padding-top: 5%;
    padding-left: 5%;
}

.coml-button {
    display: inline-block;
    flex-direction: row;
}


.coml-container {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    justify-content: initial;
    background-color: white;
    margin: 2%;
}

.coml-cards-container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.coml-msg-container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
    font-weight: 600;
}