.filter-container {
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
}

.filter-row {
    display: flex;
    flex-direction: row;
    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
    font-size: medium;
    margin-left: 2%;
}

.filter-radio {
    margin-left: 2%;
}
